
/* Class and Id In Css */
/* Class call with . and  Id  call with # In Css */

.main-heading{
    color: aquamarine;
}
.sub-heading{
    color: blue;
}
.article-box{
    background-color: orange;
}
.article-heading{
    color: red;
    font-style: italic;
}
#container{
width: 300px;
}